GEMINI_API_KEY=coloque_sua_chave_gemini_aqui
GEMINI_MODEL=gemini-2.5-flash
SEFAZ_PROVIDER=simulated
SEFAZ_GO_BASE_URL=http://127.0.0.1:4001
SEFAZ_FAKE_HOST=127.0.0.1
SEFAZ_FAKE_PORT=4001
JWT_SECRET=troque_por_um_segredo_longo_em_producao
MASTER_PASSWORD=troque_ou_remova_em_producao
SUPERADMIN_PASSWORD=troque_em_producao
ALLOWED_ORIGINS=http://localhost:5000
MERCADO_PAGO_WEBHOOK_SECRET=96c86abb9028b3913b951216231f7b53195f70b2e0eb387c2a3ee2c308685797
PAYMENT_POLLING_ENABLED=true
